// Color palette <important>
$color-primary-1: #FFFFFF;
$color-primary-2: #000000;
$color-primary-3: #F9CB52;

$color-grey-70: #5C5F62;
$color-grey-60: #777777;
$color-grey-55: #C7C2C0;
$color-grey-50: #8E8E8E;
$color-grey-30: #B2B2B2;
$color-grey-20: #D9D9D9;
$color-grey-15: #E5E5E5;
$color-grey-10: #F1EFEF;
$color-grey-5: #F9F9F9;

// Breakpoints
$phone: 550px;
$breakpoint-tablet: 768px;
$breakpoint-notebook: 1200px;
$breakpoint-desktop: 990px;