@import '../_config/variables';

.megamenu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background-color: rgba(0, 0, 0, .4);
  @include display-flex(row, flex-start, center, nowrap, 0);

  &[open="true"] {
    transition: translate 350ms ease;
    translate: 0 0;
  }
  &--open {
    z-index: 3;
    opacity: 1;

    .megamenu__content {
      transform: translateX(0%);
    }
  }
  &:not(.megamenu--open) {
    .megamenu__content {
      transform: translateX(-150%);
    }
  }
  &__content {
    box-sizing: border-box;
    transition: transform 400ms ease;
    width: calc(100% - 1.6rem);
    height: calc(100% - 3.2rem);
    border-bottom-right-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.14);
    max-width: 45rem;
    background-color: $color-white;
    padding: 1.6rem 1.6rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
  &__close {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    cursor: url('../../assets/Icons/cursor-close.png'), auto;
  }
  &__list-first-level {
    margin: 0;
    padding: 0 0 2.4rem;
    list-style: none;
    width: 100%;
    li {
      cursor: pointer;
      padding: 0 0 1.6rem 0;
      @include display-flex(row, space-between, center, nowrap, 0);
      
      * {
        text-decoration: none;
        cursor: pointer;
        padding-bottom: .4rem;
        @include fontBold(2.2rem, 0, 2.8rem, $color-black);
      }
    }
    li:last-child {
      padding-bottom: 0;
    }
  }
  &__list-second-level {
    margin: 0;
    padding: 0 0 2.4rem 0;
    list-style: none;
    width: 100%;
    @include display-flex(row, flex-start, flex-start, wrap, 1.6rem);

    li {
      padding: 0;
      min-width: 16rem;
      a {
        @include fontRegular(1.4rem, 0, 2rem, $color-black);
        cursor: pointer;
        padding-bottom: .6rem;
        text-decoration: none;
      }
    }
    li:last-child {
      padding-bottom: 0;
    }
  }
}