.card {
  border-radius: 1.6rem;
  overflow: hidden;
  background-color: $color-white;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 1rem;
  box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.14);
  &:hover {
    .card__view-more {
      svg {
        transform: translateX(.4rem);
      }
    }
  }
  &__wishlist {
    position: absolute;
    top: .4rem;
    left: .4rem;
    z-index: 0;
    background-color: rgba($color: $color-white, $alpha: 1);
    border-radius: 1.3rem;
    width: 3rem;
    height: 3rem;
    @include display-flex(row, center, center, nowrap, 0);
    cursor: pointer;
    box-shadow: 0 .3rem .6rem #00000014;

    svg {
      width: 100%;
    }
  }
  &__content {
    padding: 0;
    margin: 0;
    height: 6rem;
    width: 100%;
    position: relative;
    border-bottom: .1rem solid $color-grey-15;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__media {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-width: 6rem;
    max-height: 6rem;
    position: absolute;
    bottom: -2rem;
    right: 1.6rem;
    border: .1rem solid $color-grey-15;
    background-color: $color-white;
    object-fit: contain;
  }
  &__information {
    padding: 2.2rem 1.6rem 1rem 1.6rem;
    display: flex;
    flex-direction: column;
  }
  &__rating {
    margin: .6rem 0;
    text-align: right;
    @include display-flex(row, flex-end, center, nowrap, 0 .4rem);

    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
    span {
      top: .1rem;
      position: relative;
      width: fit-content;
      @include display-flex(row, center, center, nowrap, 0);
      @include fontRegular(1.6rem, 0, 2rem, $color-black);  
    }
  }
  &__title {
    margin: 0 0 .8rem 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    min-height: 1.8rem;
    @include fontBold(1.6rem, 0, 2rem, $color-black);
  }
  &__description {
    margin: 0 0 .8rem 0;
    height: 100%;
    @include fontRegular(1.2rem, 0, 2rem, $color-black);
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
  &__view-more {
    border: 0;
    background-color: $color-white;
    width: fit-content;
    height: 2rem;
    text-align: right;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    @include fontRegular(1.2rem, 0, 1.8rem, $color-black);
    @include display-flex(row, flex-end, center, nowrap, 0 .4rem);

    svg {
      transition: all 350ms ease;
    }
  }
  &__gradient {
    width: 100%;
    height: 1rem;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 18%, rgba(249,203,82,1) 100%);
    display: none;
  }
  &__buttons {
    padding: 0 1.6rem;
    width: calc(100% - 3.2rem);
    @include display-flex(row, space-between, center, wrap, 0); 
  }
  &__create-request {
    width: fit-content;
    min-height: 4rem;
    padding: 0 .8rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    @include display-flex(row, center, center, nowrap, 0);

    svg {
      transition: all 350ms ease;
    }
    &:hover {
      svg {
        fill: $color-black;
      }
    }
  }
}

.card-service {
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
  overflow: hidden;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  padding: 1.2rem 1.6rem;
  box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  &:hover {
    .card__view-details {
      svg {
        transform: translateX(.4rem);
      }
    }
  }
  header {
    margin: 0 0 2rem 0;
    @include display-flex(row, space-between, center, wrap, .8rem 0);

    span {
      margin: 0;
      padding: 0;
      @include fontRegular(1.4rem, 0, 1.8rem, $color-black);
    }
  }
  &__title {
    margin: 0 0 .2rem 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    min-height: 1.8rem;
    @include fontBold(1.6rem, 0, 2rem, $color-black);
  }
  &__category {
    margin: 0 0 1.6rem 0;
    @include fontBold(1.4rem, 0, 1.8rem, $color-black);
  }
  &__description {
    margin: 0;
    height: 100%;
    @include fontRegular(1.2rem, 0, 2rem, $color-black);
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
  &__buttons {
    margin: 3rem 0 0 0;
    background-color: $color-white;
    width: 100%;
    text-align: right;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    @include fontRegular(1.2rem, 0, 1.8rem, $color-black);
    @include display-flex(row, space-between, center, nowrap, 0 .4rem);

    button {
      padding: 0 .8rem;
      min-height: 4rem;
      width: fit-content;
      min-width: 4rem;
      font-size: 1.2rem;
    }
    svg {
      transition: all 350ms ease;
    }
  }
  
}

.modal-card {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 3.2rem);
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  z-index: -1;
  opacity: 0;
  padding: 1.6rem;
  @include display-flex(row, center, center, nowrap, 0);

  &--open {
    z-index: 3;
    opacity: 1;

    .card {
      transform: translateY(0%);
    }
  }
  &:not(.modal-card--open) {
    .card {
      transform: translateY(-150%);
    }
  }
  .card {
    max-width: 83.2rem;
    max-height: 58.2rem;
    width: 100%;
    grid-template-rows: 6rem 1fr 6rem 1rem;
    transition: transform 350ms ease;
    &__title {
      margin: 0 0 .4rem 0;
      @include fontBold(1.8rem, 0, 2rem, $color-black);
    }
    &__category {
      margin: 0 0 1.4rem 0;
      @include fontRegular(1.4rem, 0, 2rem, $color-black);
    }
    &__description {
      margin: 0 0 .8rem 0;
      height: 100%;
      overflow-y: auto;
      @include fontRegular(1.4rem, 0, 2rem, $color-black);
    }
    &__gradient {
      display: block;
    }
  }
}