.form {
  &__title {
    margin-top: 0;
    margin-bottom: 1.6rem;
    text-align: center;
    @include fontBold(3.2rem, 0, 5.4rem, $color-primary-2);
    &--left {
      text-align: left;
    }
    &--right {
      text-align: right;
    }
    &--with-subtitle {
      margin-bottom: 0;
    }
  }
  &__subtitle {
    margin-top: 0;
    @include fontRegular(1.4rem, 0, 2rem, $color-black);
  }
  &__social {
    margin-bottom: 1.6rem;
    cursor: pointer;
    @include display-flex(row, center, center, nowrap, 0 2rem);

    &--hidden {
      display: none;
    }
    .social {
      width: 3.8rem;
      height: 3.8rem;
      border-radius: 50%;
      display: block;
      border: .1rem solid $color-primary-2;
      text-decoration: none;
      color: $color-primary-2;
      font-size: 1.4rem;
      transition: scale 650ms ease;
      @include display-flex(row, center, center, nowrap, 0);

      &:hover {
        scale: 1.1;
        color: $color-primary-1;
        background: $color-primary-2;
      }
    }
  }
  &__subtext {
    display: block;
    margin-bottom: 1.8rem;
    text-align: center;
    @include fontRegular(1.4rem, 0, 1.8rem, $color-black);

    &--hidden {
      display: none;
    }
  }
  &__forgot {
    display: block;
    width: fit-content;
    margin-top: 2rem;
    padding-bottom: .8rem;
    text-decoration: none;
    @include fontRegular(1.4rem, 0, 1.8rem, $color-black);
  }
  .button {
    margin-top: 1.8rem;
    min-height: 4rem;
  }
}

.field {
  height: 5.2rem;
  margin-bottom: 1.6rem;
  @include display-flex(column-reverse, flex-start, flex-start, nowrap, 1rem 0);

  &-divider {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;
    gap: 0 .7rem;
    margin: 3.2rem 0 3.2rem 0;
    @include desktop-up {
        gap: 0 .95rem;
    }

    .line:empty,
    .circle:empty {
        display: inline;
    }
    .line {
        width: 100%;
        height: .1rem;
        background: $color-black;
    }
    .circle {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        background: transparent;
        border: .1rem solid $color-black;
    }
}
  &--text-area,
  &--file {
    height: fit-content;
  }
  &__label,
  &__input {
    width: 100%;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &:empty {
      display: none;
    }
    li {
      padding-bottom: .6rem;
      @include fontRegular(1.4rem, .04rem, 2rem, $color-black);  
    }
    li:last-child {
      padding-bottom: 0;
    }
  }
  &__label {
    transition: all 350ms ease;
    @include fontRegular(1.4rem, .04rem, 2rem, $color-grey-50);

    &--file {
      cursor: pointer;
      height: 5rem;
      border-radius: 1.6rem;
      border: .1rem groove $color-grey-50;
      border-style: dashed;
      @include display-flex(row, center, center, nowrap, 0); 

      &:hover {
        border-color: $color-black;
      }
    }
  }
  &__input {
    padding: 0;
    height: 3.2rem;
    border: none;
    border-bottom: .1rem solid $color-grey-30;
    box-sizing: border-box;
    width: 100%;
    @include fontRegular(1.4rem, 0, 2rem, $color-black);

    &:disabled {
      background-color: $color-white;
      color: $color-black;
      pointer-events: none;
    }
    &:focus-visible {
      outline: none;
    }
    &:focus,
    &.has-value {
      border-color: $color-black;

      & + .field__label {
        font-size: 1.2rem;
        color: $color-black;
      }
    }
    &--text-area {
      height: 13rem;
      resize: none;
      width: 100%;
      border-radius: 1.6rem;
      padding: .8rem 1rem;
      border: .1rem solid $color-grey-50;
    }
    &--file {
      width: 100%;
      border: 0;
      height: 4rem;
    }
  }
}

.hidden {
  display: none;
}